# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Log files should not be committed
*.log

# QT stuff and extras
src/gui/moc*
src/gui/*.
src/gui/*.bckp
src/gui/*.autosave
src/gui/build-gui-Desktop*
src/gui/rcc*
src/gui/log.txt
src/gui/*.jsc
src/gui/*.log
src/gui/*.pro.user
src/gui/*.qmake.stash
src/gui/*.qmlc
src/gui/*.so
src/gui/*.trace
src/gui/*.vagrant
src/gui/.DS_Store
src/gui/Mfile*
src/gui/deploy
src/gui/windows
src/gui/docs/_*

# OSX helpers
*.DS_Store

# Specific parameter JSON files
params.json

# Compiled binaries, that come out of `go build main.go`
ventilator
main
vent
